/*=======================================
Base Element Styles
=======================================*/

* {
  box-sizing: border-box;
}

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #878787;
}

.main-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

p {
  text-align: justify;
}

.main-nav, h1, h2 {
  color: #48525c;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: #48525C;
}

a:hover {
  color: #AF0917;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: auto;
}

.main-nav {
  text-align: center;
  font-weight: 900;
  font-size: 1.2em;
}

.main-nav a {
  display: block;
  margin-top: 15px;
}

.banner {
  padding-top: 380px;
  height: 440px;
  text-align: center;
  background: grey url('../img/banner.jpg') no-repeat center;
  background-size: cover;
}

.arrow {
  width: 50px;
}

h1 {
  text-align: center;
}

.copyright {
  height: 80px;
  margin: 0 auto;
  background-color: #48525C;
  text-align: center;
  padding-top: 30px;
  font-size: .7em;
}

/*=======================================
Media Queries
=======================================*/
